<div class="row">
    <div class="col s2">
        <div class="input-field col s12">
            <input id="state-number" type="text" class="validate">
            <label for="state-number">Номер</label>
        </div>
    </div>
    <div class="col s2">
        <div class="input-field col s12">
            <input id="manufacturer-name" type="text" class="validate">
            <label for="manufacturer-name">Марка</label>
        </div>
    </div>
    <div class="col s2">
        <div class="input-field col s12">
            <input id="model-name" type="text" class="validate">
            <label for="model-name">Модель</label>
        </div>
    </div>
    <div class="col s2">
        <div class="input-field col s12">
            <input id="year-of-production" type="text" class="validate">
            <label for="year-of-production">Год</label>
        </div>
    </div>
    <div class="col s3">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </div>
</div>