<h2 class="center-align teal-text teal-darken-2">Владельцы автомобилей</h2>
<div class="row">
    <div class="col s2">
        <a routerLink="/api/edit-owner" class="waves-effect waves-light btn"><i
                class="material-icons left">add</i>Добавить</a>
    </div>
    <div class="col s10">
        <div class="row">
            <button routerLink="/api/edit-owner" class="waves-effect  light-blue darken-1 btn" [disabled]="disabled"><i
                    class="material-icons left">visibility</i>Просмотр</button>
            <button routerLink="/api/edit-owner" class="waves-effect amber darken-1 btn" [disabled]="disabled"
                (click)="getOwner($event)"><i class="material-icons left">edit</i>Редактировать</button>
            <button class="waves-effect deep-orange darken-1 btn" [disabled]="disabled" (click)="delete()"><i
                    class="material-icons left">delete</i>Удалить</button>
            <span><b>Владелец: </b>{{ownerTitle}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div *ngIf="owners.length === 0; else elseBlock">
            <h3 class="center-align grey-text grey-darken-2">Владельцы отсутствуют</h3>
        </div>
        <ng-template #elseBlock>
            <table class="highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Количество автомобилей</th>
                    </tr>
                </thead>

                <tbody *ngFor="let owner of owners">
                    <tr id={{owner.id}} (click)="unlockButtons($event)">
                        <td>{{owner.aLastName}}</td>
                        <td>{{owner.aFirstName}}</td>
                        <td>{{owner.aMiddleName}}</td>
                        <td>{{owner.aCars.length}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>